
<ul class="wraplist wrapper-menu margin-top-20">

    <li ui-sref-active="active">
        <a ui-sref="app.hos-dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>

    <!--
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">person_add</i>
        <span class="title">Doctors</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-doctors">All Doctors</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-doctor-add">Add Doctor</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-doctor-edit">Edit Doctor</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-doctor-profile">Doctor Profile</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">people</i>
        <span class="title">Patients</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-patients">All Patients</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-patient-add">Add Patient</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-patient-edit">Edit Patient</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-patient-profile">Patient Profile</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">event_available</i>
        <span class="title">Appointment</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-doc-schedule">Doctor Schedule</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-book-appointment">Book Appointment</a>
            </li>
        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">equalizer</i>
        <span class="title">Reports</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-report-patient">Patient</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-report-hospital">Hospital</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-report-sales">Sales</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">attach_money</i>
        <span class="title">Billing</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-payments">Payments</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-payment-add">Add Payment</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-patient-invoice">Patient Invoice</a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.mail.list" class="nosub">
        <i class="material-icons">mail</i>
        <span class="title">Mail</span>
        </a>
    </li>

    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">map</i>
        <span class="title">WorldWide Centres</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-centres">Facility Locations</a>
            </li>
        </ul>
    </li>
    <li href class="auto">
        <a href="javascript:;">
        <i class="material-icons">face</i>
        <span class="title">Hospital Staff</span>
        <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk" >
            <li ui-sref-active="active">
                <a ui-sref="app.hos-staffs">All Staff Members</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-staff-add">Add Staff Member</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-staff-edit">Edit Staff Member</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.hos-staff-profile">Staff Member Profile</a>
            </li>
        </ul>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.hos-events" class="nosub">
        <i class="material-icons">event</i>
        <span class="title">Event Management</span>
        </a>
    </li>

    -->

    <li href class="auto">
        <a ui-sref="app.hms-inpatient-reg" class="nosub">
        <i class="material-icons">event</i>
        <span class="title">Inpatient Reg</span>
        </a>
    </li>




</ul>
