<div class="content-wrapper" ng-init="app.settings.pagetitle = 'Inpatient Registration';" ng-controller="ipregistrationCtrl">


    <div class="pull-left pagetitle">
        <span class='line'></span>
        <h1>{{app.settings.pagetitle}}</h1>
        <div></div>
    </div>


    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">&nbsp;</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-wizard nav-pills">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <uib-progressbar value="steps.percent" class="progress-xs primary" type="success"></uib-progressbar>
                        </div>
                        <uib-tabset class="tab-container" ng-init="steps={percent:15, step1:true, step2:false, step3:false, step4:false, step5:false, step6:false, step1stat:false, step2stat:false, step3stat:false, step4stat:false, step5stat:false,step6stat:false }">


                            <uib-tab active="steps.step1" select="steps.percent=15" class=" {{steps.step1stat ? 'complete' : ''}} ">
                                <uib-tab-heading class="tabhead">Demographics</uib-tab-heading>
                                <h4 class='margin-top-30'>Paient ID: <span>152452</span></h4>
                                <form name="step1" class="form-validation padding-left-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">

                                                <select class="form-control">
                                                    <option>Select Title</option>
                                                    <option>Mr</option>
                                                    <option>Mrs</option>
                                                </select>
                                            </div>
                                            <div class="form-group">

                                                <div class="controls">
                                                    <input type="text" placeholder="First Name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="controls">
                                                    <input type="text" placeholder="Last Name" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="controls">
                                                    <input type="text" placeholder="Mobile Number" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">

                                                <select class="form-control">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">

                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="DatepickerDemoCtrl">
                                                            <div class="form-group">

                                                                <div class="input-group" inputgroup>
                                                                    <input type="text" class="form-control datepicker" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="dtpick.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                                                                    <span class="input-group-addon" ng-click="open($event,'opened')"><i class="fa fa-calendar" style="color: #999;"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="controls">
                                                            OR
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">

                                                        <div class="controls">
                                                            <input type="text" class="form-control" placeholder="Age">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <div class="controls">
                                                    <input type="text" class="form-control" placeholder="Aadhar/Pan">
                                                </div>
                                            </div>
                                            <div class="input-group">

                                                <select class="form-control">
                                                    <option>Blood Group</option>
                                                    <option>A+</option>
                                                    <option>A-</option>
                                                    <option>B+</option>
                                                    <option>B-</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary" ng-click="steps.step2=true">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step1.$invalid" active="steps.step2" select="steps.percent=30; steps.step1stat=true" class=" {{steps.step2stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Contact&nbsp;Info</uib-tab-heading>
                                <h4 class='margin-top-30'>Profile Information</h4>
                                <form name="step2" class="form-validation  col-md-8 padding-left-0">
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Age</label>
                                        <div class="controls">
                                            <input type="number" name="age" class="form-control" ng-model="age" required>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step1=true">Prev</button>
                                        <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary" ng-click="steps.step3=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step2.$invalid" active="steps.step3" select="steps.percent=45; steps.step2stat=true" class=" {{steps.step3stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">General</uib-tab-heading>
                                <h4 class='margin-top-30'>Portfolio Information</h4>
                                <form name="step3" class="form-validation  col-md-8 padding-left-0">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield1">Company Name</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="formfield1" name="formfield1" placeholder="Company Name" ng-model="company" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="formfield1">Experience</label>
                                        <div class="controls">
                                            <input type="number" name="experience" class="form-control" ng-model="experience" required>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step2=true">Prev</button>
                                        <button type="submit" ng-disabled="step3.$invalid" class="btn btn-primary" ng-click="steps.step4=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step3.$invalid" active="steps.step4" select="steps.percent=60; steps.step3stat=true" class=" {{steps.step4stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Insurance</uib-tab-heading>
                                <h4 class='margin-top-30'>Contact Information</h4>
                                <form name="step4" class="form-validation  col-md-8 padding-left-0">
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Email</label>
                                        <div class="controls">
                                            <input type="email" name="email" class="form-control" ng-model="email" required>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step3=true">Prev</button>
                                        <button type="submit" ng-disabled="step4.$invalid" class="btn btn-primary" ng-click="steps.step5=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step4.$invalid" active="steps.step5" select="steps.percent=75; steps.step4stat=true" class=" {{steps.step5stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Personal</uib-tab-heading>
                                <h4 class='margin-top-30'>User Settings</h4>
                                <form name="step5" class="form-validation  col-md-8 padding-left-0">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield1">Terms</label>
                                        <div class="controls">
                                            <label class="form-label checkbox icheck">
                                                <input type="checkbox" ng-model="txtagree" required><i></i> I agree to terms & conditions
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step4=true">Prev</button>
                                        <button type="submit" ng-disabled="step5.$invalid" class="btn btn-primary" ng-click="steps.step6=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab disabled="step5.$invalid" active="steps.step6" select="steps.percent=90; steps.step5stat=true" class=" {{steps.step6stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead">Emergency</uib-tab-heading>
                                <h4 class='margin-top-30'>User Settings</h4>
                                <form name="step6" class="form-validation  col-md-8 padding-left-0">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield1">Terms</label>
                                        <div class="controls">
                                            <label class="form-label checkbox icheck">
                                                <input type="checkbox" ng-model="txtagree" required><i></i> I agree to terms & conditions
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step5=true">Prev</button>
                                        <button type="submit" ng-disabled="step6.$invalid" class="btn btn-primary" ng-click="steps.percent=100;steps.step6=true; steps.step6stat=true; savePatientInfo();">Finish</button>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>



                    </div>
                </div>
            </div>
        </section>
    </div>




</div>